if TARGET_HAILO15_EVB_SECURITY_CAMERA

config SYS_BOARD
	default "hailo15-evb-security-camera"

config SYS_VENDOR
	default "hailo"

config SYS_CONFIG_NAME
	default "hailo15-evb-security-camera"
	help
	  This option contains information about board configuration name.
	  Based on this option include/configs/<CONFIG_SYS_CONFIG_NAME>.h header
	  will be used for board configuration.

endif
