CONFIG_ARM=y
CONFIG_ARCH_HAILO=y
CONFIG_TARGET_HAILO15L_EVB=y
CONFIG_DEFAULT_DEVICE_TREE="hailo15l-evb"
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_DM_ETH_PHY=y
CONFIG_PHY_MSCC=y
CONFIG_RGMII=y
CONFIG_DM_MDIO=y
