CONFIG_ARM=y
CONFIG_ARCH_HAILO=y
CONFIG_TARGET_HAILO15L_SBC_NAND=y
CONFIG_DEFAULT_DEVICE_TREE="hailo15l-sbc-nand"
CONFIG_SPI_FLASH_ISSI=y
CONFIG_SPL_LOAD_FIT_ADDRESS=0x70080000
CONFIG_DM_ETH_PHY=y
CONFIG_PHY_MSCC=y
CONFIG_RGMII=y
CONFIG_DM_MDIO=y
CONFIG_USE_PREBOOT=y
CONFIG_PREBOOT="i2c dev 1; i2c mw 0x43 0x00 0x56 1"
