CONFIG_ARM=y
CONFIG_ARCH_HAILO=y
CONFIG_TARGET_HAILO15_EVB_SECURITY_CAMERA=y
CONFIG_DEFAULT_DEVICE_TREE="hailo15-evb-security-camera"
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_DM_I2C=y
CONFIG_SYS_I2C_DW=y
CONFIG_CMD_I2C=y