CONFIG_ARM=y
CONFIG_ARCH_HAILO=y
CONFIG_TARGET_HAILO10_SBC_REV3=y
CONFIG_DEFAULT_DEVICE_TREE="hailo10-sbc-rev3"
CONFIG_SPI_FLASH_ISSI=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPL_OS_BOOT=y
CONFIG_SYS_OS_BASE=0x70080000
CONFIG_SPL_NOR_SUPPORT=y
CONFIG_SPL_LOAD_FIT=y
CONFIG_SPL_GZIP=y
# CONFIG_SPL_EFI_PARTITION is not set
# CONFIG_SPL_MMC is not set
# CONFIG_SPL_FS_FAT is not set
# CONFIG_SPL_WATCHDOG is not set
# CONFIG_SPL_YMODEM_SUPPORT is not set
# CONFIG_CMD_BOOTMENU is not set
# CONFIG_SPL_DM_SEQ_ALIAS is not set
# CONFIG_SPL_DM_MMC is not set
# CONFIG_WATCHDOG is not set
# CONFIG_WDT is not set
# CONFIG_SPL_WDT is not set
